
.agenda-container {
    padding: 20px;

  }

  .agenda-container h2 {
    color: #6a1b9a;        
    font-size: 60px;     
    margin-bottom: 30px; /* Espaço abaixo do título */
    text-align: center;  
  }

  header {
    position: fixed;
    /* Fixar o header no topo */
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #6a1b9a;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Garante que o header fique acima do conteúdo */
    box-sizing: border-box;
    /* Inclui padding e border no cálculo da altura */
  }
  
  header .logo h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    color: white;
  }

  .aside {
    background-color: #6a1b9a;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: 100%;
    /* Agora ocupa 100% da altura disponível */
    box-sizing: border-box;
  }
  
  .aside .logo {
    font-size: 1.5rem;
    /* Ajuste o tamanho da logo */
  }
  
  
  .week-calendar {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .day {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .day:hover {
    background-color: #ddd;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content h3 {
    margin-top: 0;
  }
  
  .modal-content label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .modal-content input,
  .modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-content button {
    margin-top: 10px;
    padding: 10px;
    width: 48%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .modal-content button:first-child {
    background-color: #6a1b9a;
    color: #fff;
    margin-right: 4%;
  }
  
  .modal-content button:last-child {
    background-color: #ccc;
  }
  